*.o
*.d
*.scores
*.save
adventure/adventure
arithmetic/arithmetic
atc/atc
battlestar/battlestar
caesar/caesar
cribbage/cribbage
dab/dab
drop4/drop4
gofish/gofish
gomoku/gomoku
hangman/hangman
klondike/klondike
robots/robots
sail/sail
snake/snake
spirhunt/spirhunt
worm/worm
wump/wump
